<%= form_for(@image) do |f| %>

    <% if @image.errors.any? %>
        <div id="errorExplanation">
            <h2>
                <%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
                <ul>
                    <% @image.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
        </div>
    <% end %>

    <% unless @image.new_record? %>
        <%= image_tag @image.url %>
    <% end %>
    
    <div class="form-row">
        <div class="name">Name:</div>
        <div class="field"><%= f.text_field :name %></div>
    </div>
    
    <div class="form-row">
        <div class="name">URL:</div>
        <div class="field"><%= f.text_field :url %></div>
    </div>
    
    <div class="form-row">
        <div class="name">Tags (separated by commas):</div>
        <div class="field"><%= f.text_field :tag_list %></div>
    </div>
    
    <% unless @image.new_record? %>
        <div class="form-row">
            <div class="name">Short URL: <span class="read-only"><%= @image.short_url %></span></div>
        </div>
    <% end %>
    
    <div class="form-buttons">
        <% if params[:action] == 'new' %>
            <%= f.submit 'Add gif', class: 'btn wide' %>
        <% else %>
            <%= f.submit 'Save gif', class: 'btn wide' %>
        <% end %>
        <%= link_to 'Cancel', home_path, class: 'btn inverse' %>
    </div>
    
<% end %>
