<div class="search">
    <%= form_tag do |f| %>
        <div class="find">
            Find a Gif:
        </div> 
        <div class="search-string">
            <%= text_field_tag :search_string %>
        </div>
        <div class="submit">
            <%= submit_tag 'Search' %>
        </div>
    <% end %>
    
</div>

<div class="images">

    <% @images.each do |image| %>
            
            <div class="image">
                <div class="main-image">
                    <%= image_tag(image.img_url, alt: image.name, data: { url: image.img_url } ) %>
                </div>
                <div class="overlay">
                    <h3><%= image.name %></h3>
                    <span class="taglist">Tags: <%= tag_url_list(image) %></span>
            
                    <hr >
            
                    <span class="edit_image">
                        <%= link_to 'View', image.img_url, :target=>"_blank" %> 
                        <% if image.user === current_user %>
                            <%= link_to 'Edit', edit_image_path(image) %>
                            <%= link_to 'Delete', image_path(image), method: :delete, :confirm => "You sure?"  %>
                        <% end %>
                    </span>
                </div>
                
            </div>
                
    <% end %>
    
</div>

<div class="derp-it">
    <span class="x"><%= icon('times-circle') %></span>
    <h3>Get the Derp It! Bookmarklet</h3>
    <p>
        Drag this link into your bookmarks bar.  When you have an image that you'd like to 
        <br>
        save in your browser, simply click the link to create a new entry in Derpsum.
    </p> 
    <a class="btn" onclick="javascript:alert('drag to browser to set up');" href="javascript:void((function(d)%7Bvar e%3Dd.createElement(%27script%27)%3Be.setAttribute(%27type%27,%27text/javascript%27)%3Be.setAttribute(%27charset%27,%27UTF-8%27)%3Be.setAttribute(%27src%27,%27//<%= get_bookmarklet_url %>/bookmarklet.js%3Fr%3D%27%2BMath.random()*99999999)%3Bd.body.appendChild(e)%7D)(document))%3B
    ">DERP IT!</a>
</div>
