<div class="search">
    <%= form_tag do |f| %>
        <div class="find">
            Find a Gif:
        </div> 
        <div class="search-string">
            <%= text_field_tag :search_string %>
        </div>
        <div class="submit">
            <%= submit_tag 'Search' %>
        </div>
    <% end %>
    
</div>

<div class="images">

    <% @images.each do |image| %>
            
            <div class="image">
                
                <div class="main-image">
                    <%= image_tag(image.img_url, alt: image.name, data: { url: image.img_url } ) %>
                </div>
                
                <div class="overlay">
                    <h3>
                        <%= link_to image.name, image.img_url, :target=>"_blank" %>
                    </h3>
                    
                    <div class="taglist">
                        Tags: 
                        <%= tag_url_list(image) %>
                    </div>
                    
                    <div class="share" data-url="<%= image.short_url %>">
                        Share: 
                        <span class="link"><%= image.short_url %></span>
                        <span class="share-button"><i class="fa fa-clipboard"></i></span>
                    </div>
                    
                    <% if image.user === current_user %>
                        <div class="buttons">
                            <%= link_to 'Edit', edit_image_path(image) %>
                            <%= link_to 'Delete', image_path(image), method: :delete, :confirm => "You sure?"  %>
                        </div>
                    <% end %>
                </div>
                
            </div>
                
    <% end %>
    
</div>