<div class="search">
    <%= form_tag do |f| %>
        <div class="find">
            Find a Gif:
        </div> 
        <div class="search-string">
            <%= text_field_tag :search_string %>
        </div>
        <div class="submit">
            <%= submit_tag 'Search' %>
        </div>
    <% end %>
    
</div>

<div class="images">

    <% @images.each do |image| %>
            
            <div class="image">
                <div class="main-image">
                    <%= image_tag(image.img_url, alt: image.name, data: { url: image.img_url } ) %>
                </div>
                <div class="overlay">
                    <h3><%= image.name %></h3>
                    <span class="taglist">Tags: <%= tag_url_list(image) %></span>
            
                    <hr >
            
                    <span class="edit_image">
                        <%= link_to 'View', image.img_url, :target=>"_blank" %> 
                        <% if image.user === current_user %>
                            <%= link_to 'Edit', edit_image_path(image) %>
                            <%= link_to 'Delete', image_path(image), method: :delete, :confirm => "You sure?"  %>
                        <% end %>
                    </span>
                </div>
                
            </div>
                
    <% end %>
    
</div>