<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Derpsum!</title>

  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "application", media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if current_user %>
        <%= render 'shared/header' %>
        <%= yield %>
        <%= render 'shared/footer' %>
        <%= render 'shared/derp_it_dropdown'%>
    <% else %>
        <%= yield %>
    <% end %>
    
</body>
</html>
